.node {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border: solid #bbbbbb 1px;
  background-color: white;
  box-sizing: border-box;
}

.start-node {
  background-color: lightgreen;
}
.finish-node {
  background-color: red;
}
.wall-node {
  background-color: grey;
}
.final-path-node {
  background-color: yellow;
}
.visited-node {
  animation-duration: 1s;
  animation-name: visit;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: white;
}

@keyframes visit {
  from {
    background-color: white;
  }
  to {
    background-color: blue;
  }
}
